<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
        bootstrap="./tests/PPBootStrap.php"
        colors="true"
        defaultTestSuite="All"
        cacheDirectory=".phpunit.cache" >
    <testsuites>
        <testsuite name="All">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <groups>
        <exclude>
            <!-- DO NOT RUN TESTS WITH THESE @group ANNOTATIONS -->
            <group>defective</group>
            <group>intermittent</group>
        </exclude>
    </groups>
    <logging>
        <junit outputFile="build/junit.xml"/>
    </logging>
    <source>
        <include>
            <directory suffix=".php">./lib</directory>
        </include>
        <exclude>
            <directory>./vendor</directory>
            <file>./lib/auth/PPAuth.php</file>
            <file>./lib/auth/AuthUtil.php</file>
        </exclude>
    </source>
</phpunit>
